@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

html {
    background-color: hsl(185, 41%, 84%);
}